.card{
    font-size: 0.9vw;
    &__btn{
        border: 2px solid rgb(61, 165, 105);
        padding: 2.5%;
        border-radius: 10px;
        float: right;
        transition: all ease 0.5s;
        cursor: pointer;
        &:hover{
            background-color: rgb(141, 195, 112);
        }
        &-checked{
            transition: all ease 0.5s;
            float: right;
            border: 2px solid rgb(61, 165, 105);
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: rgb(141, 195, 112);
            }
        }
    }
}